// $total-columns  : 12;
// $column-width   : 75px;
// $gutter-width   : 25px;
// $grid-padding   : 0px;


$golden-ratio: 1.61803398875;

//MEDIA-QUERY BREAKPOINTS
$bp-mobile: 320px;
$bp-mobile-landscape: 480px;

$bp-tablet: 48rem;
$bp-desktop: 75rem;

$colour-body: #222;
$colour-white: #fff;
$colour-grey: #444;
$colour-orange: #ff7800;
$colour-yellow: #ffdc96;
